.content {
  height: 100%;
  padding: 0 .4rem;
  overflow: hidden;
}

.title {
  margin-top: .4rem;
  font-size: .4rem;
  font-weight: bold;
}

.info {
  margin-top: .2rem;
  font-size: .32rem;
}