@import '../index.scss';

.container {
  padding: 15px;

  &.dark {
    background-color: $bg-dark;
  }

  &.light {
    background-color: $bg-light;
    color: $font-light;
  }
}

.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 95px;
  padding: 15px;
  border-bottom: 1px solid #ccc;
  background-color: $bg-light;

  .tabBtn {
    margin-right: 6px;
  }
}

.tt2Title {
  margin-top: 10px;
}

.title {
  display: inline-block;
  font-size: 20px;
}

.vision {
  display: inline-block;
  padding: 3px 5px;
  font-size: 14px;
  background-color: #41754f;
  color: #fff;
  border-radius: 4px;
  margin-left: 7px;
  vertical-align: middle;
}

.tabItem {
  position: relative;
  z-index: -1;
  transition: all 0.2s;
  opacity: 0;
  height: 0;
  overflow: hidden;

  &.show {
    z-index: 1;
    opacity: 1;
    height: auto;
    overflow: visible;

    &.skillTree {
      padding: 30px;
    }
  }
}

.bold {
  font-weight: bold;
  color: #ffc107;
}

p {
  font-size: 16px;
  margin-bottom: 14px;
  line-height: 24px;
}

.h2 {
  margin-top: 40px;
  font-size: 20px;
  text-shadow: 0 0;
}

.artifactsItem {
  margin-bottom: 20px;
}

.foot {
  text-align: center;
  margin: 50px;
  color: #9b9d4d;
}

.loading {
  height: 100%;
  background-color: #8faca4;
  animation: loading 2s infinite;
}

@keyframes loading {
  0% {
    background-color: #b34117;
  }
  25% {
    background-color: #f1b30d;
  }
  50% {
    background-color: #287db6;
  }
  75% {
    background-color: #5cc34f;
  }
  100% {
    background-color: #b34117;
  }
}

.calcLoading {
  margin: 30% auto;
  text-align: center;
}

.tableIcon {
  width: 40px;
  vertical-align: middle;
  margin-right: 6px;
}

.tableName {
  vertical-align: middle;

  &.damage {
    color: #941010;
  }

  &.gold {
    color: #906f10;
  }

  &.disabled {
    color: #aaa;
  }
}

.tablePercent {
  text-indent: 10px;

  &.damage {
    background-color: #ff7777;
  }

  &.gold {
    background-color: #ffd661;
  }
}
